# Entorno virtual y dependencias
.venv/
uv.lock

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Caché de Python
__pycache__/

# Datos (evita subir archivos grandes al repo)
data/*.parquet
data/*.csv

# Variables de entorno
.env

# Configuración de VS Code (opcional)
.vscode/
